<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Data.WPF" version="33.2.6" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="33.2.6" targetFramework="net48" />
  <package id="Syncfusion.PropertyGrid.WPF" version="33.2.6" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="33.2.6" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WPF" version="33.2.6" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="33.2.6" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="33.2.6" targetFramework="net48" />
</packages>